{# def widget #}

<pydantic_form.Widget widget={widget}>
  <div class="pt-4">
    {% if widget.title %}
    <H6>{{widget.title}}</H6>
    {% endif %}
    {% for value in widget.value %}
    <div class="pt-4">
      <Checkbox name={widget.name} type="checkbox" id={value.id} value={value.value} checked={value.checked} />
      <Label for={value.id}>{{value.label}}</Label>
    </div>
    {% endfor %}
  </div>
</pydantic_form.Widget>
