{% from "globals.jinja2" import button %}
<div id="{{widget.id}}">
    {% if widget.child %}
    {{ widget.child }}
    {% else %}
    <details open>
        <summary>
            <h4 class="inline font-sans text-3xl font-bold">{{widget.title}}</h4>
        </summary>
        <div>
            {% for typ in types %}
            {{
            button(
            typ.title,
            type="button",
            target="#"+widget.id,
            get=typ.get_url(name=widget.name)
            )
            }}
            {% endfor %}
        </div>
    </details>
    {% endif %}
</div>