{% from "globals.jinja2" import link %}
<div>
    {% if widget.child %}
    {{ widget.child }}
    {% else %}

    <details>
        <summary>
            <h4 class="inline font-sans text-3xl font-bold">{{widget.title}}</h4>
        </summary>
        <div>
            {% for typ in types %}
            <span hx-target="{{typ.id}}">
                {{ link(typ.title, href="#FIXME", target="#"+typ.id, push_url=false) }}
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </details>
</div>