{# def widget #}

<pydantic_form.Widget name={widget.name} token={widget.token} removable={widget.removable}>
  <div class="pt-4">
    <Label for={widget.id}>{{widget.title}}</Label>
    <Input name={widget.name} value={widget.value} type={widget.input_type} id={widget.id}
      aria-label={widget.aria_label} placeholder={widget.placeholder} />
    {%- if widget.help_text -%}
    <span class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">{{widget.help_text}}</span>
    {%- endif %}
  </div>
</pydantic_form.Widget>
