dist
build
docs/_build
*.py[co]
.vscode
.pytest_cache
.mypy_cache
.coverage
docs/source/develop/
!docs/source/develop/.gitkeep
junit
htmlcov
coverage.xml
tests/unittests/templates/doc/docs/components
docs/source/iconswall/IconsWall.jinja
docs/source/iconswall/icons.rst
