{# def mode: Literal["solid", "regular", "base"] = "solid" #}
{#css "font-awesome/6.6.0/css/fontawesome.min.css,font-awesome/6.6.0/css/solid.min.css,font-awesome/6.6.0/css/regular.min.css #}

<i class="fa {% if mode == 'solid' %}fas {% elif mode=='regular' %}far {% else %}{% endif %}fa-bible {{attrs.class or ''}}"></i>