{# def
href,
target="#maincontent",
swap="innerHTML show:body:top",
disable_htmx=false,
push_url=true,
class_="""
bg-neutral-200
px-5
py-2.5
rounded-lg
text-center
text-neutral-900
text-sm
font-medium
focus:outline-none
focus:ring-4
focus:ring-primary-300
hover:bg-neutral-50
dark:bg-neutral-400
dark:focus:ring-neutral-100
dark:hover:bg-neutral-300
"""
#}

<a href="{{href}}" {% if not disable_htmx %} hx-get="{{href}}" hx-target="{{target}}" hx-swap="{{swap}}" {% if push_url
  %} hx-push-url="true" {%- endif %}{%- endif %}class="{{attrs.class or class_}}">
  {{ content }}
</a>
