{# def
type="submit",
id="",
name="action",
value="submit",
onclick="",
target="",
swap="",
get="",
select="",
after_request="",
vals="",
full_width=false,
hidden=false,
aria_label="",
class_="""
bg-primary-600
font-medium
px-5
py-2.5
rounded-lg
text-center
text-sm
text-white
hover:bg-primary-700
focus:outline-none
focus:ring-4
focus:ring-primary-300
dark:bg-primary-600
dark:focus:ring-primary-800
dark:hover:bg-primary-700
"""
#}
<button type="{{type}}" {%if id %}id="{{id}}" {%endif%} name="{{name}}" value="{{value}}" {% if
  target%}hx-target="{{target}}" {% endif %} {% if swap %}hx-swap="{{swap}}" {% endif %} {% if select
  %}hx-select="{{select}}" {% endif %} {% if get %}hx-get="{{get}}" {% endif %} {% if onclick %}onclick="{{onclick}}" {%
  endif %}{% if after_request %}hx-on::after-request="{{after_request}}" {% endif %} {% if vals
  %}hx-vals='{{vals|safe}}' {% endif %} {% if aria_label %}aria-label="{{aria_label}}" {% endif %}
  class="{% if full_width %}w-full {% endif %}{{attrs.class or class_}}" {% if hidden %}hidden{% endif %}>
  {{ content}}
</button>
