{# doc html ``<h1>`` node. #}
{# def
  id: Annotated[str | None, "unique identifier of the element."] = None,
#}
<h1
  {%- if id %} id="{{id}}" {%- endif %}
  class="{{attrs.class or H1_CLASS}}">
  {{- content -}}
</h1>
