<p>
    Fastlife comes with a set of icons that comes from
    <a href="https://heroicons.com/">heroicons</a>
    (MIT License - Copyright (c) Tailwind Labs, Inc.).
</p>
<p>
    Available icons, click to copy.
</p>

{#
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
#}

<script>
    function copyText(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
    }
</script>

<IconsCss />

<div id="maincontent" hx-target="this" hx-swap="innerHTML">
    {{ content }}
</div>
