{# def widget #}
<Select :name="widget.name" :id="widget.id" multiple>
  {% for tempo in tempos %}
 <Option :value="tempo.id" :selected="widget.value==tempo.id">
    {{tempo.name}}
  </Option>
  {% endfor %}
</Select>
