{# def model, form_data #}
<Layout>
  <div class="max-w-screen-lg mx-auto px-5 bg-white min-h-sceen">
    <Form>
      {{ pydantic_form(model, form_data) }}
      <Button>Submit</Button>
    </Form>
  </div>
</Layout>
