{% extends "layout.jinja2" %}

{% block maincontent %}
<div hx-target="#maincontent" hx-swap="innerHTML">

    {% call form() %}
    {{ pydantic_form(model, form_data) }}
    {{ button("Submit") }}
    {% endcall %}

</div>
{% endblock %}