{# def model, form_data, form_errors #}
<Layout>
  <div class="max-w-screen-lg mx-auto px-5 bg-white min-h-sceen">
    <Form hx-post="">
      {{ pydantic_form(model=model, form_data=form_data, form_errors=form_errors) }}
      <Button>Submit</Button>
    </Form>
  </div>
</Layout>
