{% extends "layout.jinja2" %}
{% block maincontent %}
<h1>Hello {{ person.name|default("World") }}!</h1>

{% call form() %}
{{ input(name="person.name", label="name", aria_label="First name and last name, or surname") }}
{{ button("Submit", aria_label="submit") }}
{% endcall %}
{% endblock %}
