{% extends "layout.jinja2" %}
{% block maincontent %}
<h1>Hello {{ person.name|default("World") }}!</h1>

{% call form() %}
{{ input(name="person.name", label="name") }}
{{ button("Submit") }}
{% endcall %}
{% endblock %}
