{# def account, csrf_token #}
<Layout>
  <H1>Hello {{ account.username|default("World") }}!</H1>
  <Form csrf_token={csrf_token}>
    <Input name="account.username" label="Name" aria_label="First name and last name, or surname" />
    <Button aria_label="submit">Submit</Button>
  </Form>
</Layout>
