<Layout>

            <script>
            function copyText(text) {
                const textarea = document.createElement('textarea');
                textarea.value = text;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand('copy');
                document.body.removeChild(textarea);
            }
            </script>
        <p>Available icons, click to copy</p>
<div class="grid grid-cols-5 gap-4 p-6">
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;AcademicCap /&gt;')"><icons.AcademicCap class="w-16 h-16" />
<p class="mt-2">AcademicCap</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;AdjustmentsHorizontal /&gt;')"><icons.AdjustmentsHorizontal class="w-16 h-16" />
<p class="mt-2">AdjustmentsHorizontal</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;AdjustmentsVertical /&gt;')"><icons.AdjustmentsVertical class="w-16 h-16" />
<p class="mt-2">AdjustmentsVertical</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArchiveBoxArrowDown /&gt;')"><icons.ArchiveBoxArrowDown class="w-16 h-16" />
<p class="mt-2">ArchiveBoxArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArchiveBoxXMark /&gt;')"><icons.ArchiveBoxXMark class="w-16 h-16" />
<p class="mt-2">ArchiveBoxXMark</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArchiveBox /&gt;')"><icons.ArchiveBox class="w-16 h-16" />
<p class="mt-2">ArchiveBox</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownCircle /&gt;')"><icons.ArrowDownCircle class="w-16 h-16" />
<p class="mt-2">ArrowDownCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownLeft /&gt;')"><icons.ArrowDownLeft class="w-16 h-16" />
<p class="mt-2">ArrowDownLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownOnSquareStack /&gt;')"><icons.ArrowDownOnSquareStack class="w-16 h-16" />
<p class="mt-2">ArrowDownOnSquareStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownOnSquare /&gt;')"><icons.ArrowDownOnSquare class="w-16 h-16" />
<p class="mt-2">ArrowDownOnSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownRight /&gt;')"><icons.ArrowDownRight class="w-16 h-16" />
<p class="mt-2">ArrowDownRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDownTray /&gt;')"><icons.ArrowDownTray class="w-16 h-16" />
<p class="mt-2">ArrowDownTray</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowDown /&gt;')"><icons.ArrowDown class="w-16 h-16" />
<p class="mt-2">ArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLeftCircle /&gt;')"><icons.ArrowLeftCircle class="w-16 h-16" />
<p class="mt-2">ArrowLeftCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLeftEndOnRectangle /&gt;')"><icons.ArrowLeftEndOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowLeftEndOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLeftStartOnRectangle /&gt;')"><icons.ArrowLeftStartOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowLeftStartOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLeft /&gt;')"><icons.ArrowLeft class="w-16 h-16" />
<p class="mt-2">ArrowLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLongDown /&gt;')"><icons.ArrowLongDown class="w-16 h-16" />
<p class="mt-2">ArrowLongDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLongLeft /&gt;')"><icons.ArrowLongLeft class="w-16 h-16" />
<p class="mt-2">ArrowLongLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLongRight /&gt;')"><icons.ArrowLongRight class="w-16 h-16" />
<p class="mt-2">ArrowLongRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLongUp /&gt;')"><icons.ArrowLongUp class="w-16 h-16" />
<p class="mt-2">ArrowLongUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowPathRoundedSquare /&gt;')"><icons.ArrowPathRoundedSquare class="w-16 h-16" />
<p class="mt-2">ArrowPathRoundedSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowPath /&gt;')"><icons.ArrowPath class="w-16 h-16" />
<p class="mt-2">ArrowPath</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowRightCircle /&gt;')"><icons.ArrowRightCircle class="w-16 h-16" />
<p class="mt-2">ArrowRightCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowRightEndOnRectangle /&gt;')"><icons.ArrowRightEndOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowRightEndOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowRightStartOnRectangle /&gt;')"><icons.ArrowRightStartOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowRightStartOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowRight /&gt;')"><icons.ArrowRight class="w-16 h-16" />
<p class="mt-2">ArrowRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTopRightOnSquare /&gt;')"><icons.ArrowTopRightOnSquare class="w-16 h-16" />
<p class="mt-2">ArrowTopRightOnSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTrendingDown /&gt;')"><icons.ArrowTrendingDown class="w-16 h-16" />
<p class="mt-2">ArrowTrendingDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTrendingUp /&gt;')"><icons.ArrowTrendingUp class="w-16 h-16" />
<p class="mt-2">ArrowTrendingUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnDownLeft /&gt;')"><icons.ArrowTurnDownLeft class="w-16 h-16" />
<p class="mt-2">ArrowTurnDownLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnDownRight /&gt;')"><icons.ArrowTurnDownRight class="w-16 h-16" />
<p class="mt-2">ArrowTurnDownRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnLeftDown /&gt;')"><icons.ArrowTurnLeftDown class="w-16 h-16" />
<p class="mt-2">ArrowTurnLeftDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnLeftUp /&gt;')"><icons.ArrowTurnLeftUp class="w-16 h-16" />
<p class="mt-2">ArrowTurnLeftUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnRightDown /&gt;')"><icons.ArrowTurnRightDown class="w-16 h-16" />
<p class="mt-2">ArrowTurnRightDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnRightUp /&gt;')"><icons.ArrowTurnRightUp class="w-16 h-16" />
<p class="mt-2">ArrowTurnRightUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnUpLeft /&gt;')"><icons.ArrowTurnUpLeft class="w-16 h-16" />
<p class="mt-2">ArrowTurnUpLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowTurnUpRight /&gt;')"><icons.ArrowTurnUpRight class="w-16 h-16" />
<p class="mt-2">ArrowTurnUpRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpCircle /&gt;')"><icons.ArrowUpCircle class="w-16 h-16" />
<p class="mt-2">ArrowUpCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpLeft /&gt;')"><icons.ArrowUpLeft class="w-16 h-16" />
<p class="mt-2">ArrowUpLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpOnSquareStack /&gt;')"><icons.ArrowUpOnSquareStack class="w-16 h-16" />
<p class="mt-2">ArrowUpOnSquareStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpOnSquare /&gt;')"><icons.ArrowUpOnSquare class="w-16 h-16" />
<p class="mt-2">ArrowUpOnSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpRight /&gt;')"><icons.ArrowUpRight class="w-16 h-16" />
<p class="mt-2">ArrowUpRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUpTray /&gt;')"><icons.ArrowUpTray class="w-16 h-16" />
<p class="mt-2">ArrowUpTray</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUp /&gt;')"><icons.ArrowUp class="w-16 h-16" />
<p class="mt-2">ArrowUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUturnDown /&gt;')"><icons.ArrowUturnDown class="w-16 h-16" />
<p class="mt-2">ArrowUturnDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUturnLeft /&gt;')"><icons.ArrowUturnLeft class="w-16 h-16" />
<p class="mt-2">ArrowUturnLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUturnRight /&gt;')"><icons.ArrowUturnRight class="w-16 h-16" />
<p class="mt-2">ArrowUturnRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowUturnUp /&gt;')"><icons.ArrowUturnUp class="w-16 h-16" />
<p class="mt-2">ArrowUturnUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowsPointingIn /&gt;')"><icons.ArrowsPointingIn class="w-16 h-16" />
<p class="mt-2">ArrowsPointingIn</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowsPointingOut /&gt;')"><icons.ArrowsPointingOut class="w-16 h-16" />
<p class="mt-2">ArrowsPointingOut</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowsRightLeft /&gt;')"><icons.ArrowsRightLeft class="w-16 h-16" />
<p class="mt-2">ArrowsRightLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowsUpDown /&gt;')"><icons.ArrowsUpDown class="w-16 h-16" />
<p class="mt-2">ArrowsUpDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;AtSymbol /&gt;')"><icons.AtSymbol class="w-16 h-16" />
<p class="mt-2">AtSymbol</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Backspace /&gt;')"><icons.Backspace class="w-16 h-16" />
<p class="mt-2">Backspace</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Backward /&gt;')"><icons.Backward class="w-16 h-16" />
<p class="mt-2">Backward</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Banknotes /&gt;')"><icons.Banknotes class="w-16 h-16" />
<p class="mt-2">Banknotes</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars2 /&gt;')"><icons.Bars2 class="w-16 h-16" />
<p class="mt-2">Bars2</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars3BottomLeft /&gt;')"><icons.Bars3BottomLeft class="w-16 h-16" />
<p class="mt-2">Bars3BottomLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars3BottomRight /&gt;')"><icons.Bars3BottomRight class="w-16 h-16" />
<p class="mt-2">Bars3BottomRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars3CenterLeft /&gt;')"><icons.Bars3CenterLeft class="w-16 h-16" />
<p class="mt-2">Bars3CenterLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars3 /&gt;')"><icons.Bars3 class="w-16 h-16" />
<p class="mt-2">Bars3</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bars4 /&gt;')"><icons.Bars4 class="w-16 h-16" />
<p class="mt-2">Bars4</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BarsArrowDown /&gt;')"><icons.BarsArrowDown class="w-16 h-16" />
<p class="mt-2">BarsArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BarsArrowUp /&gt;')"><icons.BarsArrowUp class="w-16 h-16" />
<p class="mt-2">BarsArrowUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Battery0 /&gt;')"><icons.Battery0 class="w-16 h-16" />
<p class="mt-2">Battery0</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Battery100 /&gt;')"><icons.Battery100 class="w-16 h-16" />
<p class="mt-2">Battery100</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Battery50 /&gt;')"><icons.Battery50 class="w-16 h-16" />
<p class="mt-2">Battery50</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Beaker /&gt;')"><icons.Beaker class="w-16 h-16" />
<p class="mt-2">Beaker</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BellAlert /&gt;')"><icons.BellAlert class="w-16 h-16" />
<p class="mt-2">BellAlert</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BellSlash /&gt;')"><icons.BellSlash class="w-16 h-16" />
<p class="mt-2">BellSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BellSnooze /&gt;')"><icons.BellSnooze class="w-16 h-16" />
<p class="mt-2">BellSnooze</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bell /&gt;')"><icons.Bell class="w-16 h-16" />
<p class="mt-2">Bell</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bold /&gt;')"><icons.Bold class="w-16 h-16" />
<p class="mt-2">Bold</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BoltSlash /&gt;')"><icons.BoltSlash class="w-16 h-16" />
<p class="mt-2">BoltSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bolt /&gt;')"><icons.Bolt class="w-16 h-16" />
<p class="mt-2">Bolt</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BookOpen /&gt;')"><icons.BookOpen class="w-16 h-16" />
<p class="mt-2">BookOpen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BookmarkSlash /&gt;')"><icons.BookmarkSlash class="w-16 h-16" />
<p class="mt-2">BookmarkSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BookmarkSquare /&gt;')"><icons.BookmarkSquare class="w-16 h-16" />
<p class="mt-2">BookmarkSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Bookmark /&gt;')"><icons.Bookmark class="w-16 h-16" />
<p class="mt-2">Bookmark</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Briefcase /&gt;')"><icons.Briefcase class="w-16 h-16" />
<p class="mt-2">Briefcase</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BugAnt /&gt;')"><icons.BugAnt class="w-16 h-16" />
<p class="mt-2">BugAnt</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BuildingLibrary /&gt;')"><icons.BuildingLibrary class="w-16 h-16" />
<p class="mt-2">BuildingLibrary</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BuildingOffice2 /&gt;')"><icons.BuildingOffice2 class="w-16 h-16" />
<p class="mt-2">BuildingOffice2</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BuildingOffice /&gt;')"><icons.BuildingOffice class="w-16 h-16" />
<p class="mt-2">BuildingOffice</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;BuildingStorefront /&gt;')"><icons.BuildingStorefront class="w-16 h-16" />
<p class="mt-2">BuildingStorefront</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cake /&gt;')"><icons.Cake class="w-16 h-16" />
<p class="mt-2">Cake</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Calculator /&gt;')"><icons.Calculator class="w-16 h-16" />
<p class="mt-2">Calculator</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CalendarDateRange /&gt;')"><icons.CalendarDateRange class="w-16 h-16" />
<p class="mt-2">CalendarDateRange</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CalendarDays /&gt;')"><icons.CalendarDays class="w-16 h-16" />
<p class="mt-2">CalendarDays</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Calendar /&gt;')"><icons.Calendar class="w-16 h-16" />
<p class="mt-2">Calendar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Camera /&gt;')"><icons.Camera class="w-16 h-16" />
<p class="mt-2">Camera</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChartBarSquare /&gt;')"><icons.ChartBarSquare class="w-16 h-16" />
<p class="mt-2">ChartBarSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChartBar /&gt;')"><icons.ChartBar class="w-16 h-16" />
<p class="mt-2">ChartBar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChartPie /&gt;')"><icons.ChartPie class="w-16 h-16" />
<p class="mt-2">ChartPie</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleBottomCenterText /&gt;')"><icons.ChatBubbleBottomCenterText class="w-16 h-16" />
<p class="mt-2">ChatBubbleBottomCenterText</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleBottomCenter /&gt;')"><icons.ChatBubbleBottomCenter class="w-16 h-16" />
<p class="mt-2">ChatBubbleBottomCenter</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleLeftEllipsis /&gt;')"><icons.ChatBubbleLeftEllipsis class="w-16 h-16" />
<p class="mt-2">ChatBubbleLeftEllipsis</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleLeftRight /&gt;')"><icons.ChatBubbleLeftRight class="w-16 h-16" />
<p class="mt-2">ChatBubbleLeftRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleLeft /&gt;')"><icons.ChatBubbleLeft class="w-16 h-16" />
<p class="mt-2">ChatBubbleLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleOvalLeftEllipsis /&gt;')"><icons.ChatBubbleOvalLeftEllipsis class="w-16 h-16" />
<p class="mt-2">ChatBubbleOvalLeftEllipsis</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChatBubbleOvalLeft /&gt;')"><icons.ChatBubbleOvalLeft class="w-16 h-16" />
<p class="mt-2">ChatBubbleOvalLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CheckBadge /&gt;')"><icons.CheckBadge class="w-16 h-16" />
<p class="mt-2">CheckBadge</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CheckCircle /&gt;')"><icons.CheckCircle class="w-16 h-16" />
<p class="mt-2">CheckCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Check /&gt;')"><icons.Check class="w-16 h-16" />
<p class="mt-2">Check</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronDoubleDown /&gt;')"><icons.ChevronDoubleDown class="w-16 h-16" />
<p class="mt-2">ChevronDoubleDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronDoubleLeft /&gt;')"><icons.ChevronDoubleLeft class="w-16 h-16" />
<p class="mt-2">ChevronDoubleLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronDoubleRight /&gt;')"><icons.ChevronDoubleRight class="w-16 h-16" />
<p class="mt-2">ChevronDoubleRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronDoubleUp /&gt;')"><icons.ChevronDoubleUp class="w-16 h-16" />
<p class="mt-2">ChevronDoubleUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronDown /&gt;')"><icons.ChevronDown class="w-16 h-16" />
<p class="mt-2">ChevronDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronLeft /&gt;')"><icons.ChevronLeft class="w-16 h-16" />
<p class="mt-2">ChevronLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronRight /&gt;')"><icons.ChevronRight class="w-16 h-16" />
<p class="mt-2">ChevronRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronUpDown /&gt;')"><icons.ChevronUpDown class="w-16 h-16" />
<p class="mt-2">ChevronUpDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ChevronUp /&gt;')"><icons.ChevronUp class="w-16 h-16" />
<p class="mt-2">ChevronUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CircleStack /&gt;')"><icons.CircleStack class="w-16 h-16" />
<p class="mt-2">CircleStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ClipboardDocumentCheck /&gt;')"><icons.ClipboardDocumentCheck class="w-16 h-16" />
<p class="mt-2">ClipboardDocumentCheck</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ClipboardDocumentList /&gt;')"><icons.ClipboardDocumentList class="w-16 h-16" />
<p class="mt-2">ClipboardDocumentList</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ClipboardDocument /&gt;')"><icons.ClipboardDocument class="w-16 h-16" />
<p class="mt-2">ClipboardDocument</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Clipboard /&gt;')"><icons.Clipboard class="w-16 h-16" />
<p class="mt-2">Clipboard</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Clock /&gt;')"><icons.Clock class="w-16 h-16" />
<p class="mt-2">Clock</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CloudArrowDown /&gt;')"><icons.CloudArrowDown class="w-16 h-16" />
<p class="mt-2">CloudArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CloudArrowUp /&gt;')"><icons.CloudArrowUp class="w-16 h-16" />
<p class="mt-2">CloudArrowUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cloud /&gt;')"><icons.Cloud class="w-16 h-16" />
<p class="mt-2">Cloud</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CodeBracketSquare /&gt;')"><icons.CodeBracketSquare class="w-16 h-16" />
<p class="mt-2">CodeBracketSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CodeBracket /&gt;')"><icons.CodeBracket class="w-16 h-16" />
<p class="mt-2">CodeBracket</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cog6Tooth /&gt;')"><icons.Cog6Tooth class="w-16 h-16" />
<p class="mt-2">Cog6Tooth</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cog8Tooth /&gt;')"><icons.Cog8Tooth class="w-16 h-16" />
<p class="mt-2">Cog8Tooth</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cog /&gt;')"><icons.Cog class="w-16 h-16" />
<p class="mt-2">Cog</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CommandLine /&gt;')"><icons.CommandLine class="w-16 h-16" />
<p class="mt-2">CommandLine</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ComputerDesktop /&gt;')"><icons.ComputerDesktop class="w-16 h-16" />
<p class="mt-2">ComputerDesktop</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CpuChip /&gt;')"><icons.CpuChip class="w-16 h-16" />
<p class="mt-2">CpuChip</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CreditCard /&gt;')"><icons.CreditCard class="w-16 h-16" />
<p class="mt-2">CreditCard</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CubeTransparent /&gt;')"><icons.CubeTransparent class="w-16 h-16" />
<p class="mt-2">CubeTransparent</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Cube /&gt;')"><icons.Cube class="w-16 h-16" />
<p class="mt-2">Cube</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyBangladeshi /&gt;')"><icons.CurrencyBangladeshi class="w-16 h-16" />
<p class="mt-2">CurrencyBangladeshi</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyDollar /&gt;')"><icons.CurrencyDollar class="w-16 h-16" />
<p class="mt-2">CurrencyDollar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyEuro /&gt;')"><icons.CurrencyEuro class="w-16 h-16" />
<p class="mt-2">CurrencyEuro</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyPound /&gt;')"><icons.CurrencyPound class="w-16 h-16" />
<p class="mt-2">CurrencyPound</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyRupee /&gt;')"><icons.CurrencyRupee class="w-16 h-16" />
<p class="mt-2">CurrencyRupee</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CurrencyYen /&gt;')"><icons.CurrencyYen class="w-16 h-16" />
<p class="mt-2">CurrencyYen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CursorArrowRays /&gt;')"><icons.CursorArrowRays class="w-16 h-16" />
<p class="mt-2">CursorArrowRays</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;CursorArrowRipple /&gt;')"><icons.CursorArrowRipple class="w-16 h-16" />
<p class="mt-2">CursorArrowRipple</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DevicePhoneMobile /&gt;')"><icons.DevicePhoneMobile class="w-16 h-16" />
<p class="mt-2">DevicePhoneMobile</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DeviceTablet /&gt;')"><icons.DeviceTablet class="w-16 h-16" />
<p class="mt-2">DeviceTablet</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Divide /&gt;')"><icons.Divide class="w-16 h-16" />
<p class="mt-2">Divide</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentArrowDown /&gt;')"><icons.DocumentArrowDown class="w-16 h-16" />
<p class="mt-2">DocumentArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentArrowUp /&gt;')"><icons.DocumentArrowUp class="w-16 h-16" />
<p class="mt-2">DocumentArrowUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentChartBar /&gt;')"><icons.DocumentChartBar class="w-16 h-16" />
<p class="mt-2">DocumentChartBar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCheck /&gt;')"><icons.DocumentCheck class="w-16 h-16" />
<p class="mt-2">DocumentCheck</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyBangladeshi /&gt;')"><icons.DocumentCurrencyBangladeshi class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyBangladeshi</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyDollar /&gt;')"><icons.DocumentCurrencyDollar class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyDollar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyEuro /&gt;')"><icons.DocumentCurrencyEuro class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyEuro</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyPound /&gt;')"><icons.DocumentCurrencyPound class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyPound</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyRupee /&gt;')"><icons.DocumentCurrencyRupee class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyRupee</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentCurrencyYen /&gt;')"><icons.DocumentCurrencyYen class="w-16 h-16" />
<p class="mt-2">DocumentCurrencyYen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentDuplicate /&gt;')"><icons.DocumentDuplicate class="w-16 h-16" />
<p class="mt-2">DocumentDuplicate</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentMagnifyingGlass /&gt;')"><icons.DocumentMagnifyingGlass class="w-16 h-16" />
<p class="mt-2">DocumentMagnifyingGlass</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentMinus /&gt;')"><icons.DocumentMinus class="w-16 h-16" />
<p class="mt-2">DocumentMinus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentPlus /&gt;')"><icons.DocumentPlus class="w-16 h-16" />
<p class="mt-2">DocumentPlus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;DocumentText /&gt;')"><icons.DocumentText class="w-16 h-16" />
<p class="mt-2">DocumentText</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Document /&gt;')"><icons.Document class="w-16 h-16" />
<p class="mt-2">Document</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EllipsisHorizontalCircle /&gt;')"><icons.EllipsisHorizontalCircle class="w-16 h-16" />
<p class="mt-2">EllipsisHorizontalCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EllipsisHorizontal /&gt;')"><icons.EllipsisHorizontal class="w-16 h-16" />
<p class="mt-2">EllipsisHorizontal</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EllipsisVertical /&gt;')"><icons.EllipsisVertical class="w-16 h-16" />
<p class="mt-2">EllipsisVertical</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EnvelopeOpen /&gt;')"><icons.EnvelopeOpen class="w-16 h-16" />
<p class="mt-2">EnvelopeOpen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Envelope /&gt;')"><icons.Envelope class="w-16 h-16" />
<p class="mt-2">Envelope</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Equals /&gt;')"><icons.Equals class="w-16 h-16" />
<p class="mt-2">Equals</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ExclamationCircle /&gt;')"><icons.ExclamationCircle class="w-16 h-16" />
<p class="mt-2">ExclamationCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ExclamationTriangle /&gt;')"><icons.ExclamationTriangle class="w-16 h-16" />
<p class="mt-2">ExclamationTriangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EyeDropper /&gt;')"><icons.EyeDropper class="w-16 h-16" />
<p class="mt-2">EyeDropper</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;EyeSlash /&gt;')"><icons.EyeSlash class="w-16 h-16" />
<p class="mt-2">EyeSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Eye /&gt;')"><icons.Eye class="w-16 h-16" />
<p class="mt-2">Eye</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FaceFrown /&gt;')"><icons.FaceFrown class="w-16 h-16" />
<p class="mt-2">FaceFrown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FaceSmile /&gt;')"><icons.FaceSmile class="w-16 h-16" />
<p class="mt-2">FaceSmile</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Film /&gt;')"><icons.Film class="w-16 h-16" />
<p class="mt-2">Film</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FingerPrint /&gt;')"><icons.FingerPrint class="w-16 h-16" />
<p class="mt-2">FingerPrint</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Fire /&gt;')"><icons.Fire class="w-16 h-16" />
<p class="mt-2">Fire</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Flag /&gt;')"><icons.Flag class="w-16 h-16" />
<p class="mt-2">Flag</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FolderArrowDown /&gt;')"><icons.FolderArrowDown class="w-16 h-16" />
<p class="mt-2">FolderArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FolderMinus /&gt;')"><icons.FolderMinus class="w-16 h-16" />
<p class="mt-2">FolderMinus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FolderOpen /&gt;')"><icons.FolderOpen class="w-16 h-16" />
<p class="mt-2">FolderOpen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;FolderPlus /&gt;')"><icons.FolderPlus class="w-16 h-16" />
<p class="mt-2">FolderPlus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Folder /&gt;')"><icons.Folder class="w-16 h-16" />
<p class="mt-2">Folder</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Forward /&gt;')"><icons.Forward class="w-16 h-16" />
<p class="mt-2">Forward</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Funnel /&gt;')"><icons.Funnel class="w-16 h-16" />
<p class="mt-2">Funnel</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Gif /&gt;')"><icons.Gif class="w-16 h-16" />
<p class="mt-2">Gif</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;GiftTop /&gt;')"><icons.GiftTop class="w-16 h-16" />
<p class="mt-2">GiftTop</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Gift /&gt;')"><icons.Gift class="w-16 h-16" />
<p class="mt-2">Gift</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;GlobeAlt /&gt;')"><icons.GlobeAlt class="w-16 h-16" />
<p class="mt-2">GlobeAlt</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;GlobeAmericas /&gt;')"><icons.GlobeAmericas class="w-16 h-16" />
<p class="mt-2">GlobeAmericas</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;GlobeAsiaAustralia /&gt;')"><icons.GlobeAsiaAustralia class="w-16 h-16" />
<p class="mt-2">GlobeAsiaAustralia</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;GlobeEuropeAfrica /&gt;')"><icons.GlobeEuropeAfrica class="w-16 h-16" />
<p class="mt-2">GlobeEuropeAfrica</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;H1 /&gt;')"><icons.H1 class="w-16 h-16" />
<p class="mt-2">H1</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;H2 /&gt;')"><icons.H2 class="w-16 h-16" />
<p class="mt-2">H2</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;H3 /&gt;')"><icons.H3 class="w-16 h-16" />
<p class="mt-2">H3</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;HandRaised /&gt;')"><icons.HandRaised class="w-16 h-16" />
<p class="mt-2">HandRaised</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;HandThumbDown /&gt;')"><icons.HandThumbDown class="w-16 h-16" />
<p class="mt-2">HandThumbDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;HandThumbUp /&gt;')"><icons.HandThumbUp class="w-16 h-16" />
<p class="mt-2">HandThumbUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Hashtag /&gt;')"><icons.Hashtag class="w-16 h-16" />
<p class="mt-2">Hashtag</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Heart /&gt;')"><icons.Heart class="w-16 h-16" />
<p class="mt-2">Heart</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;HomeModern /&gt;')"><icons.HomeModern class="w-16 h-16" />
<p class="mt-2">HomeModern</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Home /&gt;')"><icons.Home class="w-16 h-16" />
<p class="mt-2">Home</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Identification /&gt;')"><icons.Identification class="w-16 h-16" />
<p class="mt-2">Identification</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;InboxArrowDown /&gt;')"><icons.InboxArrowDown class="w-16 h-16" />
<p class="mt-2">InboxArrowDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;InboxStack /&gt;')"><icons.InboxStack class="w-16 h-16" />
<p class="mt-2">InboxStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Inbox /&gt;')"><icons.Inbox class="w-16 h-16" />
<p class="mt-2">Inbox</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;InformationCircle /&gt;')"><icons.InformationCircle class="w-16 h-16" />
<p class="mt-2">InformationCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Italic /&gt;')"><icons.Italic class="w-16 h-16" />
<p class="mt-2">Italic</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Key /&gt;')"><icons.Key class="w-16 h-16" />
<p class="mt-2">Key</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Language /&gt;')"><icons.Language class="w-16 h-16" />
<p class="mt-2">Language</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Lifebuoy /&gt;')"><icons.Lifebuoy class="w-16 h-16" />
<p class="mt-2">Lifebuoy</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;LightBulb /&gt;')"><icons.LightBulb class="w-16 h-16" />
<p class="mt-2">LightBulb</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;LinkSlash /&gt;')"><icons.LinkSlash class="w-16 h-16" />
<p class="mt-2">LinkSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Link /&gt;')"><icons.Link class="w-16 h-16" />
<p class="mt-2">Link</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ListBullet /&gt;')"><icons.ListBullet class="w-16 h-16" />
<p class="mt-2">ListBullet</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;LockClosed /&gt;')"><icons.LockClosed class="w-16 h-16" />
<p class="mt-2">LockClosed</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;LockOpen /&gt;')"><icons.LockOpen class="w-16 h-16" />
<p class="mt-2">LockOpen</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MagnifyingGlassCircle /&gt;')"><icons.MagnifyingGlassCircle class="w-16 h-16" />
<p class="mt-2">MagnifyingGlassCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MagnifyingGlassMinus /&gt;')"><icons.MagnifyingGlassMinus class="w-16 h-16" />
<p class="mt-2">MagnifyingGlassMinus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MagnifyingGlassPlus /&gt;')"><icons.MagnifyingGlassPlus class="w-16 h-16" />
<p class="mt-2">MagnifyingGlassPlus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MagnifyingGlass /&gt;')"><icons.MagnifyingGlass class="w-16 h-16" />
<p class="mt-2">MagnifyingGlass</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MapPin /&gt;')"><icons.MapPin class="w-16 h-16" />
<p class="mt-2">MapPin</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Map /&gt;')"><icons.Map class="w-16 h-16" />
<p class="mt-2">Map</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Megaphone /&gt;')"><icons.Megaphone class="w-16 h-16" />
<p class="mt-2">Megaphone</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Microphone /&gt;')"><icons.Microphone class="w-16 h-16" />
<p class="mt-2">Microphone</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MinusCircle /&gt;')"><icons.MinusCircle class="w-16 h-16" />
<p class="mt-2">MinusCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Minus /&gt;')"><icons.Minus class="w-16 h-16" />
<p class="mt-2">Minus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Moon /&gt;')"><icons.Moon class="w-16 h-16" />
<p class="mt-2">Moon</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MusicalNote /&gt;')"><icons.MusicalNote class="w-16 h-16" />
<p class="mt-2">MusicalNote</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Newspaper /&gt;')"><icons.Newspaper class="w-16 h-16" />
<p class="mt-2">Newspaper</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;NoSymbol /&gt;')"><icons.NoSymbol class="w-16 h-16" />
<p class="mt-2">NoSymbol</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;NumberedList /&gt;')"><icons.NumberedList class="w-16 h-16" />
<p class="mt-2">NumberedList</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PaintBrush /&gt;')"><icons.PaintBrush class="w-16 h-16" />
<p class="mt-2">PaintBrush</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PaperAirplane /&gt;')"><icons.PaperAirplane class="w-16 h-16" />
<p class="mt-2">PaperAirplane</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PaperClip /&gt;')"><icons.PaperClip class="w-16 h-16" />
<p class="mt-2">PaperClip</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PauseCircle /&gt;')"><icons.PauseCircle class="w-16 h-16" />
<p class="mt-2">PauseCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Pause /&gt;')"><icons.Pause class="w-16 h-16" />
<p class="mt-2">Pause</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PencilSquare /&gt;')"><icons.PencilSquare class="w-16 h-16" />
<p class="mt-2">PencilSquare</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Pencil /&gt;')"><icons.Pencil class="w-16 h-16" />
<p class="mt-2">Pencil</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PercentBadge /&gt;')"><icons.PercentBadge class="w-16 h-16" />
<p class="mt-2">PercentBadge</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PhoneArrowDownLeft /&gt;')"><icons.PhoneArrowDownLeft class="w-16 h-16" />
<p class="mt-2">PhoneArrowDownLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PhoneArrowUpRight /&gt;')"><icons.PhoneArrowUpRight class="w-16 h-16" />
<p class="mt-2">PhoneArrowUpRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PhoneXMark /&gt;')"><icons.PhoneXMark class="w-16 h-16" />
<p class="mt-2">PhoneXMark</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Phone /&gt;')"><icons.Phone class="w-16 h-16" />
<p class="mt-2">Phone</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Photo /&gt;')"><icons.Photo class="w-16 h-16" />
<p class="mt-2">Photo</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PlayCircle /&gt;')"><icons.PlayCircle class="w-16 h-16" />
<p class="mt-2">PlayCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PlayPause /&gt;')"><icons.PlayPause class="w-16 h-16" />
<p class="mt-2">PlayPause</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Play /&gt;')"><icons.Play class="w-16 h-16" />
<p class="mt-2">Play</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PlusCircle /&gt;')"><icons.PlusCircle class="w-16 h-16" />
<p class="mt-2">PlusCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Plus /&gt;')"><icons.Plus class="w-16 h-16" />
<p class="mt-2">Plus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Power /&gt;')"><icons.Power class="w-16 h-16" />
<p class="mt-2">Power</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PresentationChartBar /&gt;')"><icons.PresentationChartBar class="w-16 h-16" />
<p class="mt-2">PresentationChartBar</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PresentationChartLine /&gt;')"><icons.PresentationChartLine class="w-16 h-16" />
<p class="mt-2">PresentationChartLine</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Printer /&gt;')"><icons.Printer class="w-16 h-16" />
<p class="mt-2">Printer</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PuzzlePiece /&gt;')"><icons.PuzzlePiece class="w-16 h-16" />
<p class="mt-2">PuzzlePiece</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;QrCode /&gt;')"><icons.QrCode class="w-16 h-16" />
<p class="mt-2">QrCode</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;QuestionMarkCircle /&gt;')"><icons.QuestionMarkCircle class="w-16 h-16" />
<p class="mt-2">QuestionMarkCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;QueueList /&gt;')"><icons.QueueList class="w-16 h-16" />
<p class="mt-2">QueueList</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Radio /&gt;')"><icons.Radio class="w-16 h-16" />
<p class="mt-2">Radio</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ReceiptPercent /&gt;')"><icons.ReceiptPercent class="w-16 h-16" />
<p class="mt-2">ReceiptPercent</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ReceiptRefund /&gt;')"><icons.ReceiptRefund class="w-16 h-16" />
<p class="mt-2">ReceiptRefund</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;RectangleGroup /&gt;')"><icons.RectangleGroup class="w-16 h-16" />
<p class="mt-2">RectangleGroup</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;RectangleStack /&gt;')"><icons.RectangleStack class="w-16 h-16" />
<p class="mt-2">RectangleStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;RocketLaunch /&gt;')"><icons.RocketLaunch class="w-16 h-16" />
<p class="mt-2">RocketLaunch</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Rss /&gt;')"><icons.Rss class="w-16 h-16" />
<p class="mt-2">Rss</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Scale /&gt;')"><icons.Scale class="w-16 h-16" />
<p class="mt-2">Scale</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Scissors /&gt;')"><icons.Scissors class="w-16 h-16" />
<p class="mt-2">Scissors</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ServerStack /&gt;')"><icons.ServerStack class="w-16 h-16" />
<p class="mt-2">ServerStack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Server /&gt;')"><icons.Server class="w-16 h-16" />
<p class="mt-2">Server</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Share /&gt;')"><icons.Share class="w-16 h-16" />
<p class="mt-2">Share</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ShieldCheck /&gt;')"><icons.ShieldCheck class="w-16 h-16" />
<p class="mt-2">ShieldCheck</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ShieldExclamation /&gt;')"><icons.ShieldExclamation class="w-16 h-16" />
<p class="mt-2">ShieldExclamation</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ShoppingBag /&gt;')"><icons.ShoppingBag class="w-16 h-16" />
<p class="mt-2">ShoppingBag</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ShoppingCart /&gt;')"><icons.ShoppingCart class="w-16 h-16" />
<p class="mt-2">ShoppingCart</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;SignalSlash /&gt;')"><icons.SignalSlash class="w-16 h-16" />
<p class="mt-2">SignalSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Signal /&gt;')"><icons.Signal class="w-16 h-16" />
<p class="mt-2">Signal</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Slash /&gt;')"><icons.Slash class="w-16 h-16" />
<p class="mt-2">Slash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Sparkles /&gt;')"><icons.Sparkles class="w-16 h-16" />
<p class="mt-2">Sparkles</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;SpeakerWave /&gt;')"><icons.SpeakerWave class="w-16 h-16" />
<p class="mt-2">SpeakerWave</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;SpeakerXMark /&gt;')"><icons.SpeakerXMark class="w-16 h-16" />
<p class="mt-2">SpeakerXMark</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Square2Stack /&gt;')"><icons.Square2Stack class="w-16 h-16" />
<p class="mt-2">Square2Stack</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Square3Stack3d /&gt;')"><icons.Square3Stack3d class="w-16 h-16" />
<p class="mt-2">Square3Stack3d</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Squares2x2 /&gt;')"><icons.Squares2x2 class="w-16 h-16" />
<p class="mt-2">Squares2x2</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;SquaresPlus /&gt;')"><icons.SquaresPlus class="w-16 h-16" />
<p class="mt-2">SquaresPlus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Star /&gt;')"><icons.Star class="w-16 h-16" />
<p class="mt-2">Star</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;StopCircle /&gt;')"><icons.StopCircle class="w-16 h-16" />
<p class="mt-2">StopCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Stop /&gt;')"><icons.Stop class="w-16 h-16" />
<p class="mt-2">Stop</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Strikethrough /&gt;')"><icons.Strikethrough class="w-16 h-16" />
<p class="mt-2">Strikethrough</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Sun /&gt;')"><icons.Sun class="w-16 h-16" />
<p class="mt-2">Sun</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Swatch /&gt;')"><icons.Swatch class="w-16 h-16" />
<p class="mt-2">Swatch</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;TableCells /&gt;')"><icons.TableCells class="w-16 h-16" />
<p class="mt-2">TableCells</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Tag /&gt;')"><icons.Tag class="w-16 h-16" />
<p class="mt-2">Tag</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Ticket /&gt;')"><icons.Ticket class="w-16 h-16" />
<p class="mt-2">Ticket</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Trash /&gt;')"><icons.Trash class="w-16 h-16" />
<p class="mt-2">Trash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Trophy /&gt;')"><icons.Trophy class="w-16 h-16" />
<p class="mt-2">Trophy</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Truck /&gt;')"><icons.Truck class="w-16 h-16" />
<p class="mt-2">Truck</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Tv /&gt;')"><icons.Tv class="w-16 h-16" />
<p class="mt-2">Tv</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Underline /&gt;')"><icons.Underline class="w-16 h-16" />
<p class="mt-2">Underline</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;UserCircle /&gt;')"><icons.UserCircle class="w-16 h-16" />
<p class="mt-2">UserCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;UserGroup /&gt;')"><icons.UserGroup class="w-16 h-16" />
<p class="mt-2">UserGroup</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;UserMinus /&gt;')"><icons.UserMinus class="w-16 h-16" />
<p class="mt-2">UserMinus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;UserPlus /&gt;')"><icons.UserPlus class="w-16 h-16" />
<p class="mt-2">UserPlus</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;User /&gt;')"><icons.User class="w-16 h-16" />
<p class="mt-2">User</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Users /&gt;')"><icons.Users class="w-16 h-16" />
<p class="mt-2">Users</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Variable /&gt;')"><icons.Variable class="w-16 h-16" />
<p class="mt-2">Variable</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;VideoCameraSlash /&gt;')"><icons.VideoCameraSlash class="w-16 h-16" />
<p class="mt-2">VideoCameraSlash</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;VideoCamera /&gt;')"><icons.VideoCamera class="w-16 h-16" />
<p class="mt-2">VideoCamera</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ViewColumns /&gt;')"><icons.ViewColumns class="w-16 h-16" />
<p class="mt-2">ViewColumns</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ViewfinderCircle /&gt;')"><icons.ViewfinderCircle class="w-16 h-16" />
<p class="mt-2">ViewfinderCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Wallet /&gt;')"><icons.Wallet class="w-16 h-16" />
<p class="mt-2">Wallet</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Wifi /&gt;')"><icons.Wifi class="w-16 h-16" />
<p class="mt-2">Wifi</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Window /&gt;')"><icons.Window class="w-16 h-16" />
<p class="mt-2">Window</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;WrenchScrewdriver /&gt;')"><icons.WrenchScrewdriver class="w-16 h-16" />
<p class="mt-2">WrenchScrewdriver</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;Wrench /&gt;')"><icons.Wrench class="w-16 h-16" />
<p class="mt-2">Wrench</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;XCircle /&gt;')"><icons.XCircle class="w-16 h-16" />
<p class="mt-2">XCircle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;XMark /&gt;')"><icons.XMark class="w-16 h-16" />
<p class="mt-2">XMark</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowLeftOnRectangle /&gt;')"><icons.ArrowLeftOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowLeftOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowRightOnRectangle /&gt;')"><icons.ArrowRightOnRectangle class="w-16 h-16" />
<p class="mt-2">ArrowRightOnRectangle</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowSmallDown /&gt;')"><icons.ArrowSmallDown class="w-16 h-16" />
<p class="mt-2">ArrowSmallDown</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowSmallLeft /&gt;')"><icons.ArrowSmallLeft class="w-16 h-16" />
<p class="mt-2">ArrowSmallLeft</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowSmallRight /&gt;')"><icons.ArrowSmallRight class="w-16 h-16" />
<p class="mt-2">ArrowSmallRight</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;ArrowSmallUp /&gt;')"><icons.ArrowSmallUp class="w-16 h-16" />
<p class="mt-2">ArrowSmallUp</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;MinusSmall /&gt;')"><icons.MinusSmall class="w-16 h-16" />
<p class="mt-2">MinusSmall</p>
</div>
<div class="flex flex-col items-center text-center cursor-pointer" onclick="copyText('&lt;PlusSmall /&gt;')"><icons.PlusSmall class="w-16 h-16" />
<p class="mt-2">PlusSmall</p>
</div>
</div>
</Layout>
