{% extends "base.jinja2" %}
{% block base %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <div id="maincontent" hx-target="this" hx-swap="innerHTML">
    {% block maincontent %}{% endblock %}
    </div>
  </body>
</html>
{% endblock %}