{% extends "base.jinja2" %}
{% block base %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"></script>
    <link href="/static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {# <script>
      htmx.logAll();
    </script> #}
    <div id="maincontent" hx-target="this" hx-swap="innerHTML">
    {% block maincontent %}{% endblock %}
    </div>
  </body>
</html>
{% endblock %}