{# def model, title="Let's authenticate" #}
<Layout>
  <H2>{{title}}</H2>
  <div class="max-w-(--breakpoint-lg) mx-auto px-5 bg-white min-h-sceen">
    <Form method="post">
      {{ pydantic_form(model=model) }}
      <Button aria-label="login">Login</Button>
    </Form>
  </div>
</Layout>
