{# def user, person = None #}
<Layout>
  <H1>Welcome back {{ user.username }}!</H1>
  <A href="/admin/logout">logout</A>

  <H2>Say Hello too ?</H2>
  <Form  method="post">
    <Input name="payload.nick" label="Name" />
    <Button aria-label="submit">Submit</Button>
  </Form>

</Layout>
