{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.AcademicCap :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.AcademicCap :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.AcademicCap :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.AcademicCap :class="attrs.class or ''"/>
{%endif%}
