{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.AdjustmentsHorizontal :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.AdjustmentsHorizontal :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.AdjustmentsHorizontal :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.AdjustmentsHorizontal :class="attrs.class or ''"/>
{%endif%}
