{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowLeftStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowLeftStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowLeftStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowLeftStartOnRectangle :class="attrs.class or ''"/>
{%endif%}
