{# def
    id=None,
    title=None,
    mode: Literal["mini","outline","solid"] = "solid"
#}

{% if mode == "mini"%}<icons.mini.ArrowSmallDown :id="id" :class="attrs.class or ''" :title="title" />
{% elif mode == "outline"%}<icons.outline.ArrowSmallDown :id="id" :class="attrs.class or ''" :title="title" />
{% elif mode == "solid"%}<icons.solid.ArrowSmallDown :id="id" :class="attrs.class or ''" :title="title" />
{%endif%}
