{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowUturnRight :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowUturnRight :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowUturnRight :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowUturnRight :class="attrs.class or ''"/>
{%endif%}
