{# def mode: Literal["mini","outline","solid"] = "solid"  #}

{% if mode == "mini"%}<icons.mini.ArrowSmallDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowSmallDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowSmallDown :class="attrs.class or ''"/>
{%endif%}
