{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowTurnRightUp :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowTurnRightUp :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowTurnRightUp :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowTurnRightUp :class="attrs.class or ''"/>
{%endif%}
