{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowLeft :class="attrs.class or ''"/>
{%endif%}
