{# def id=None, mode: Literal["mini","outline","solid"] = "solid"  #}

{% if mode == "mini"%}<icons.mini.ArrowLeftOnRectangle :id="id" :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowLeftOnRectangle :id="id" :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowLeftOnRectangle :id="id" :class="attrs.class or ''"/>
{%endif%}
