{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowUturnDown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowUturnDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowUturnDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowUturnDown :class="attrs.class or ''"/>
{%endif%}
