{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowTurnUpLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowTurnUpLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowTurnUpLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowTurnUpLeft :class="attrs.class or ''"/>
{%endif%}
