{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowUpOnSquare :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowUpOnSquare :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowUpOnSquare :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowUpOnSquare :class="attrs.class or ''"/>
{%endif%}
