{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowDownRight :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowDownRight :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowDownRight :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowDownRight :class="attrs.class or ''"/>
{%endif%}
