{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowPathRoundedSquare :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowPathRoundedSquare :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowPathRoundedSquare :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowPathRoundedSquare :class="attrs.class or ''"/>
{%endif%}
