{# def
    id=None,
    title=None,
    mode: Literal["micro","mini","outline","solid"] = "solid"
#}

{% if mode == "micro"%}<icons.micro.ArrowDownRight :id="id" :class="attrs.class or ''" :title="title" />
{% elif mode == "mini"%}<icons.mini.ArrowDownRight :id="id" :class="attrs.class or ''" :title="title" />
{% elif mode == "outline"%}<icons.outline.ArrowDownRight :id="id" :class="attrs.class or ''" :title="title" />
{% elif mode == "solid"%}<icons.solid.ArrowDownRight :id="id" :class="attrs.class or ''" :title="title" />
{%endif%}
