{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowRightStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowRightStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowRightStartOnRectangle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowRightStartOnRectangle :class="attrs.class or ''"/>
{%endif%}
