{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowTrendingDown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowTrendingDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowTrendingDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowTrendingDown :class="attrs.class or ''"/>
{%endif%}
