{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ArrowsRightLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ArrowsRightLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ArrowsRightLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ArrowsRightLeft :class="attrs.class or ''"/>
{%endif%}
