{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Bars3CenterLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Bars3CenterLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Bars3CenterLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Bars3CenterLeft :class="attrs.class or ''"/>
{%endif%}
