{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.BarsArrowDown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.BarsArrowDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.BarsArrowDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.BarsArrowDown :class="attrs.class or ''"/>
{%endif%}
