{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.BoltSlash :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.BoltSlash :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.BoltSlash :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.BoltSlash :class="attrs.class or ''"/>
{%endif%}
