{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.BookmarkSlash :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.BookmarkSlash :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.BookmarkSlash :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.BookmarkSlash :class="attrs.class or ''"/>
{%endif%}
