{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Camera :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Camera :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Camera :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Camera :class="attrs.class or ''"/>
{%endif%}
