{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChartPie :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChartPie :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChartPie :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChartPie :class="attrs.class or ''"/>
{%endif%}
