{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChartBarSquare :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChartBarSquare :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChartBarSquare :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChartBarSquare :class="attrs.class or ''"/>
{%endif%}
