{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChatBubbleBottomCenter :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChatBubbleBottomCenter :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChatBubbleBottomCenter :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChatBubbleBottomCenter :class="attrs.class or ''"/>
{%endif%}
