{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChatBubbleLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChatBubbleLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChatBubbleLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChatBubbleLeft :class="attrs.class or ''"/>
{%endif%}
