{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChatBubbleOvalLeft :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChatBubbleOvalLeft :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChatBubbleOvalLeft :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChatBubbleOvalLeft :class="attrs.class or ''"/>
{%endif%}
