{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChatBubbleLeftRight :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChatBubbleLeftRight :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChatBubbleLeftRight :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChatBubbleLeftRight :class="attrs.class or ''"/>
{%endif%}
