{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CheckBadge :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CheckBadge :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CheckBadge :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CheckBadge :class="attrs.class or ''"/>
{%endif%}
