{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChevronDown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChevronDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChevronDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChevronDown :class="attrs.class or ''"/>
{%endif%}
