{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChevronRight :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChevronRight :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChevronRight :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChevronRight :class="attrs.class or ''"/>
{%endif%}
