{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChevronUp :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChevronUp :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChevronUp :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChevronUp :class="attrs.class or ''"/>
{%endif%}
