{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ChevronDoubleDown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ChevronDoubleDown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ChevronDoubleDown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ChevronDoubleDown :class="attrs.class or ''"/>
{%endif%}
