{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CircleStack :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CircleStack :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CircleStack :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CircleStack :class="attrs.class or ''"/>
{%endif%}
