{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ClipboardDocument :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ClipboardDocument :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ClipboardDocument :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ClipboardDocument :class="attrs.class or ''"/>
{%endif%}
