{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Clipboard :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Clipboard :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Clipboard :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Clipboard :class="attrs.class or ''"/>
{%endif%}
