{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ClipboardDocumentList :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ClipboardDocumentList :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ClipboardDocumentList :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ClipboardDocumentList :class="attrs.class or ''"/>
{%endif%}
