{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CloudArrowUp :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CloudArrowUp :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CloudArrowUp :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CloudArrowUp :class="attrs.class or ''"/>
{%endif%}
