{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CommandLine :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CommandLine :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CommandLine :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CommandLine :class="attrs.class or ''"/>
{%endif%}
