{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ComputerDesktop :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ComputerDesktop :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ComputerDesktop :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ComputerDesktop :class="attrs.class or ''"/>
{%endif%}
