{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CubeTransparent :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CubeTransparent :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CubeTransparent :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CubeTransparent :class="attrs.class or ''"/>
{%endif%}
