{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CurrencyEuro :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CurrencyEuro :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CurrencyEuro :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CurrencyEuro :class="attrs.class or ''"/>
{%endif%}
