{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CurrencyDollar :class="attrs.class or ''"/>
{%endif%}
