{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CurrencyPound :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CurrencyPound :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CurrencyPound :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CurrencyPound :class="attrs.class or ''"/>
{%endif%}
