{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CursorArrowRipple :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CursorArrowRipple :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CursorArrowRipple :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CursorArrowRipple :class="attrs.class or ''"/>
{%endif%}
