{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.CursorArrowRays :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.CursorArrowRays :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.CursorArrowRays :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.CursorArrowRays :class="attrs.class or ''"/>
{%endif%}
