{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.DocumentText :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.DocumentText :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.DocumentText :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.DocumentText :class="attrs.class or ''"/>
{%endif%}
