{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.DocumentCurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.DocumentCurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.DocumentCurrencyDollar :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.DocumentCurrencyDollar :class="attrs.class or ''"/>
{%endif%}
