{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ExclamationTriangle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ExclamationTriangle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ExclamationTriangle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ExclamationTriangle :class="attrs.class or ''"/>
{%endif%}
