{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ExclamationCircle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ExclamationCircle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ExclamationCircle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ExclamationCircle :class="attrs.class or ''"/>
{%endif%}
