{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Eye :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Eye :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Eye :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Eye :class="attrs.class or ''"/>
{%endif%}
