{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.FaceFrown :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.FaceFrown :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.FaceFrown :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.FaceFrown :class="attrs.class or ''"/>
{%endif%}
