{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.FolderMinus :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.FolderMinus :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.FolderMinus :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.FolderMinus :class="attrs.class or ''"/>
{%endif%}
