{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Gif :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Gif :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Gif :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Gif :class="attrs.class or ''"/>
{%endif%}
