{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.GiftTop :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.GiftTop :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.GiftTop :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.GiftTop :class="attrs.class or ''"/>
{%endif%}
