{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Gift :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Gift :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Gift :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Gift :class="attrs.class or ''"/>
{%endif%}
