{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.HandThumbUp :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.HandThumbUp :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.HandThumbUp :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.HandThumbUp :class="attrs.class or ''"/>
{%endif%}
