{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.HomeModern :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.HomeModern :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.HomeModern :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.HomeModern :class="attrs.class or ''"/>
{%endif%}
