{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Inbox :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Inbox :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Inbox :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Inbox :class="attrs.class or ''"/>
{%endif%}
