{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Key :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Key :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Key :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Key :class="attrs.class or ''"/>
{%endif%}
