{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.LightBulb :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.LightBulb :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.LightBulb :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.LightBulb :class="attrs.class or ''"/>
{%endif%}
