{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.LinkSlash :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.LinkSlash :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.LinkSlash :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.LinkSlash :class="attrs.class or ''"/>
{%endif%}
