{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ListBullet :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ListBullet :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ListBullet :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ListBullet :class="attrs.class or ''"/>
{%endif%}
