{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.LockClosed :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.LockClosed :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.LockClosed :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.LockClosed :class="attrs.class or ''"/>
{%endif%}
