{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.MagnifyingGlassCircle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.MagnifyingGlassCircle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.MagnifyingGlassCircle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.MagnifyingGlassCircle :class="attrs.class or ''"/>
{%endif%}
