{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Microphone :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Microphone :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Microphone :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Microphone :class="attrs.class or ''"/>
{%endif%}
