{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.MusicalNote :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.MusicalNote :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.MusicalNote :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.MusicalNote :class="attrs.class or ''"/>
{%endif%}
