{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Newspaper :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Newspaper :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Newspaper :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Newspaper :class="attrs.class or ''"/>
{%endif%}
