{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.NoSymbol :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.NoSymbol :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.NoSymbol :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.NoSymbol :class="attrs.class or ''"/>
{%endif%}
