{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.NumberedList :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.NumberedList :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.NumberedList :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.NumberedList :class="attrs.class or ''"/>
{%endif%}
