{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PaperClip :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PaperClip :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PaperClip :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PaperClip :class="attrs.class or ''"/>
{%endif%}
