{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PauseCircle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PauseCircle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PauseCircle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PauseCircle :class="attrs.class or ''"/>
{%endif%}
