{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PencilSquare :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PencilSquare :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PencilSquare :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PencilSquare :class="attrs.class or ''"/>
{%endif%}
