{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PhoneXMark :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PhoneXMark :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PhoneXMark :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PhoneXMark :class="attrs.class or ''"/>
{%endif%}
