{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PlayCircle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PlayCircle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PlayCircle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PlayCircle :class="attrs.class or ''"/>
{%endif%}
