{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Play :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Play :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Play :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Play :class="attrs.class or ''"/>
{%endif%}
