{# def mode: Literal["mini","outline","solid"] = "solid"  #}

{% if mode == "mini"%}<icons.mini.PlusSmall :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PlusSmall :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PlusSmall :class="attrs.class or ''"/>
{%endif%}
