{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Plus :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Plus :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Plus :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Plus :class="attrs.class or ''"/>
{%endif%}
