{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.PuzzlePiece :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.PuzzlePiece :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.PuzzlePiece :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.PuzzlePiece :class="attrs.class or ''"/>
{%endif%}
