{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.QueueList :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.QueueList :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.QueueList :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.QueueList :class="attrs.class or ''"/>
{%endif%}
