{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Radio :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Radio :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Radio :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Radio :class="attrs.class or ''"/>
{%endif%}
