{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.RocketLaunch :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.RocketLaunch :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.RocketLaunch :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.RocketLaunch :class="attrs.class or ''"/>
{%endif%}
