{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Scale :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Scale :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Scale :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Scale :class="attrs.class or ''"/>
{%endif%}
