{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Server :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Server :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Server :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Server :class="attrs.class or ''"/>
{%endif%}
