{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ShieldExclamation :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ShieldExclamation :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ShieldExclamation :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ShieldExclamation :class="attrs.class or ''"/>
{%endif%}
