{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.ShoppingBag :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.ShoppingBag :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.ShoppingBag :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.ShoppingBag :class="attrs.class or ''"/>
{%endif%}
