{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Signal :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Signal :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Signal :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Signal :class="attrs.class or ''"/>
{%endif%}
