{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Sparkles :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Sparkles :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Sparkles :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Sparkles :class="attrs.class or ''"/>
{%endif%}
