{# def id=None, mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Tag :id="id" :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Tag :id="id" :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Tag :id="id" :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Tag :id="id" :class="attrs.class or ''"/>
{%endif%}
