{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Ticket :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Ticket :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Ticket :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Ticket :class="attrs.class or ''"/>
{%endif%}
