{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Trash :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Trash :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Trash :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Trash :class="attrs.class or ''"/>
{%endif%}
