{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Trophy :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Trophy :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Trophy :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Trophy :class="attrs.class or ''"/>
{%endif%}
