{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.UserMinus :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.UserMinus :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.UserMinus :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.UserMinus :class="attrs.class or ''"/>
{%endif%}
