{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.User :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.User :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.User :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.User :class="attrs.class or ''"/>
{%endif%}
