{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.UserGroup :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.UserGroup :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.UserGroup :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.UserGroup :class="attrs.class or ''"/>
{%endif%}
