{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.VideoCameraSlash :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.VideoCameraSlash :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.VideoCameraSlash :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.VideoCameraSlash :class="attrs.class or ''"/>
{%endif%}
