{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.Wallet :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.Wallet :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.Wallet :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.Wallet :class="attrs.class or ''"/>
{%endif%}
