{# def mode: Literal["micro","mini","outline","solid"] = "solid"  #}

{% if mode == "micro"%}<icons.micro.XCircle :class="attrs.class or ''"/>
{% elif mode == "mini"%}<icons.mini.XCircle :class="attrs.class or ''"/>
{% elif mode == "outline"%}<icons.outline.XCircle :class="attrs.class or ''"/>
{% elif mode == "solid"%}<icons.solid.XCircle :class="attrs.class or ''"/>
{%endif%}
