{# def yolo: str, apple_count: int, orange_count: int, banana_count: int #}
<Layout>
  <H1>
      {{ _("Hello, World!") }}
  </H1>
  <p>
    {% trans %}
      How are you today ?
    {% endtrans %}
  </p>
  <p> {{ gettext("Remember that {yolo}.", yolo=yolo) }} </p>
  <p> {{ ngettext("{num} apple", "{num} apples", apple_count) }}</p>
  <p> {{ ngettext("{num} orange", "{num} oranges", orange_count) }}</p>
  <p> {{ ngettext("banana!", "bananas!", banana_count) }}</p>

  <A :href="{{request.url_path_for('more-i18n')}}">{{ _("See more...") }}</A>
</Layout>
