name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true # Ensures CODECOV_TOKEN is required for this workflow

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install the project
        run: uv sync --group dev

      - name: Check types
        run: |
          uv run mypy src/fastlife/

      - name: Run tests
        run: |
          uv run pytest tests/unittests  --junitxml=junit/test-results-${{ matrix.python-version }}.xml --cov=fastlife --cov-report=xml --cov-report=html

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}
          path: junit/test-results-${{ matrix.python-version }}.xml

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }} && matrix.python-version == '3.13' && github.event_name != 'workflow_dispatch'
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov
        if: matrix.python-version == '3.13' && github.event_name != 'workflow_dispatch'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml

  functional-tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install the project
        run: uv sync --group dev
      - name: Ensure browsers are installed
        run: uv run playwright install --with-deps --only-shell chromium
      - name: Run functional tests
        run: uv run pytest -m "not dev" --tracing=retain-on-failure -v tests/functionals
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
